<div class="well">
  <form name="newPlaylist" class="form-horizontal">
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" name="playlistName" ng-model="playlist.name" ng-maxlength="16" required>
          <div class="alert alert-warning" ng-show="newPlaylist.playlistName.$invalid && newPlaylist.playlistName.$dirty">Please enter a name</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button type="submit" class="btn btn-success" ng-disabled="newPlaylist.$invalid" ng-click="submit()">Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>